[Unit]
Description=Exception Report Prod
Requires=network.target
After=multi-user.target

[Service]
Restart=on-failure
Type=simple
EnvironmentFile=/opt/exception-report/github/compute-engine/file-report/src/env-dev.txt
ExecStart=/opt/exception-report/github/compute-engine/file-report/src/exception-report
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=exception-report-prod

[Install]
WantedBy=multi-user.target